<!DOCTYPE html>
<html>
  <head>
    <% include header %>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">Principal</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/home?seccion=nuevo">Nuevo Participante</a></li>
              <li><a href="/home?seccion=listado">Gesti贸n Participantes</a></li>
              <li class="active"><a href="/home?seccion=gestionar">Gesti贸n Actividad</a></li>
              <li><a href="/home?seccion=nuevaactividad">Nueva Actividad</a></li>
              <li><a href="/signout">Cerrar Sesi贸n</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <div class="row">
          <div class="col-sm-6 col-md-4 col-md-offset-4">
              <h2><%= actividad.titulo%></h2>
              <hr/>
              <legend>Descripci贸n de la actividad</legend>
              <div class="form-group">
                  <textarea class="form-control" name="descripcion" rows="3" cols="80"><%= actividad.descripcion%></textarea>
              </div>
              <div class="form-group">
                  <textarea class="form-control" name="requisitos" rows="3" cols="80"><%= actividad.requisitos%></textarea>
              </div>
              <div class="signup-wall">
                <form class="form-signin" action="/listadoparticipantes" method="POST">
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Listado de Participantes</button>
                  <span class="clearfix"/>
                </form>
                <% if(message){%>
                  <h1 class="text-center error-message"><%= message %></h1>
                <%}%>
              </div>
          </div>
      </div>
    </div>
  <% include footer %>
  </body>
</html>
