<!DOCTYPE html>
<html>
  <head>
    <% include header %>
  </head>
  <body cz-shortcut-listen="true">
    <div class="container">
      <h1><%= title %></h1>
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">Principal</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/home?seccion=nuevo">Nuevo Participante</a></li>
              <li class="active"><a href="/home?seccion=listado">Gestión Participantes</a></li>
              <li><a href="/home?seccion=gestion">Gestión Actividades</a></li>
              <li><a href="/signout">Cerrar Sesión</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <form action="/filtrar" method="post">
        <legend>Buscar Usuario</legend>
        <div class="form-group">
            <input type="text" id="dni" class="form-control" name="dni"/>
        </div>
        <div class="form-group">
          <input type="text" id="nombre" class="form-control" name="nombre"/>
        </div>
        <div class="form-group">
          <input type="text" id="apellidos" class="form-control" name="apellidos"/>
        </div>
        <button class="btn btn-primary">
           Filtrar
        </button>
      </form>
      </hr>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Eliminar</th>
            <th>Actualizar</th>
            <th>Confirmar pago</th>
            <th>Confirmar firma</th>
            <th>Apuntar Actividad</th>
          </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < users.length; i++) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= users[i].dni %></td>
                    <td><%= users[i].nombre %></td>
                    <td><%= users[i].apellidos %></td>
                    <td><%= users[i].telefono %></td>
                    <td><%= users[i].direccion %></td>
                    <td><%= users[i].email %></td>
                    <td><a id="delete" class="btn btn-danger" href="/deleteuser/<%= users[i].dni%>">Borrar</a></td>
                    <td><a id="update" class="btn btn-danger" href="/updateuser/<%= users[i].dni%>">Actualizar</a></td>
                    <td><a id="pagado" class="<%= users[i].pagado ? 'btn btn-success':'btn btn-dark'%>" href="/pagadouser/<%= users[i].dni%>">Pagado</a></td>
                    <td><a id="firmado" class="<%= users[i].firmado ? 'btn btn-success':'btn btn-dark'%>" href="/firmadouser/<%= users[i].dni%>">Firmado</a></td>
                    <td><a id="apuntado" class="<%= users[i].apuntado ? 'btn btn-success':'btn btn-dark'%>" href="/asignaractividad/<%= users[i].dni%>">Apuntado</a></td>
                  </tr>
              <% } %>
        </tbody>
      </table>
    </div>
   <script>
     document.getElementById('title').focus();
     document.getElementById('delete').addEventListener('click', function(e){
       let response=confirm('¿Estás seguro de borrar este usuario?');
       if(!response){
         e.preventDefault();
       }
     })
   </script>
    <% include footer %>
  </body>
</html>
